#game{
    display:flex;
    align-items: center;
    flex-direction: column;
     background: linear-gradient(135deg, #fce7f3, #e0f2fe);
    width:500px;
    text-align: center;
    padding:30px;    
}
body{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#name{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 40px;
    padding-top: 0%;
    font-weight: bold;    
}
.btns{
    background-color: #fde2e4;
    border: none;
    padding:30px;
    font-size: 45px;
    margin:15px;
    border-radius: 60px;
    border: 5px solid #f4a261;  
    cursor:pointer;    
}
#display{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-size:50px;
}
#computerScore,#playerScore{
    margin-bottom: none;
    font-family: Arial, Helvetica, sans-serif;
    padding:none;
    font-weight: bold;
}
#computerChoice,#playerChoice{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
#computerChoice{
    margin-top: 5px;
    margin-bottom: 40px;
}
#playerChoice{
    margin-top:40px;
}
.btns:active{
    background-color: #fbc4ab;
    transform: scale(0.95);
}

.green{
    color:rgb(30, 117, 30);
    font-size: 50px;
}

.red{
    color:tomato;
    font-size: 50px;
}



